[submodule "tecobrary-elk"]
	path = tecobrary-elk
  url = https://github.com/milzipmoza-developers/tecobrary-elk.git
  branch = test
[submodule "tecobrary-noti-slackbot"]
	path = tecobrary-noti-slackbot
	url = https://github.com/milzipmoza-developers/tecobrary-noti-slackbot.git
